body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
table,
th,
td,
embed,
object {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Balsamiq Sans';
}

#banner {
  background-color: darkcyan;
  border: solid black;
  height: 200px;
  width: 100%; 
}

nav a {
  color: white;
  padding: 25px;
  margin-left: 30px;
  margin-top: 20px;
}

#navg {
  align-items: center;
}

#donate {
  background-color: white;
  color: blueviolet;
  border: solid blueviolet;
  border-radius: 80px;
  padding: 5px;
}

#pepper {
  background-color: lightgrey;
  height: 90px;
  width: 500px;
  display: flex;
  align-items: center;
}

#mikan {
  height: 90px;
  width: 500px;
  background-color: deepskyblue;
  display: flex;
  align-items: center;
}

#beau {
  background-color: lightgrey;
  height: 90px;
  width: 500px;
  margin-left: 195px;
  display: flex;
  align-items: center;
}


#Pet {
  margin-left: 25px;
  margin-top: 3px;
  height: 30px;
  width: 100px;
  border: solid black;
}

#location {
  border: solid black;
}

#zip {
  margin-top: -20px;
}

#bestfriend {
  background-color: blueviolet;
  border: solid black;
  border-style: groove;
}

#friend {
  color: white;
}

.textholder {
  margin-left: 10px;
}

#mikanright {
  margin-left: 370px;
}