body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
table,
th,
td,
embed,
object {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Balsamiq Sans';
}

#banner {
  background-color: darkcyan;
  border: solid black;
  height: 200px;
  width: 980px; 
}

nav a {
  color: white;
  padding: 25px;
  margin-left: 30px;
}

#navg {
  margin-top: 20px;
  align-items: center;
}